<layout-use template="../../shared/views/layout.marko">
  <layout-put into="title">$data.title</layout-put>
  <layout-put into="content">
    <div class="container">
      <h1>Welcome to lwis</h1>
    </div>
  </layout-put>
</layout-use>
