<div class="navbar navbar-fixed-bottom">
  <div class="container">
    <p>
            &copy;&nbsp;<a href="#">Joakim Larsson</a> 2014. This software is based on the <a href="/lwis/credits">work of others.</a>
        </p>
    </div>
</div>
